body {
    color: #ffffff;
    background: linear-gradient(90deg, rgb(15, 15, 15), rgb(79, 79, 131), rgb(22, 22, 29));
    border-color: transparent;
    border-style: solid;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  font-family: arial;
  text-align: center;
}

form {
    align-content: center;
}

input {
    background-color: #ffffff;
    font-family: inherit;
    display: block;
  width: 60%;
  position:relative;
  left:20%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #000000;
  background-clip: padding-box;
  border: 1px solid rgb(59, 57, 57);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button, button {
  background-color: rgb(85, 175, 235);
  text-decoration: none;
  display: block;
  width: 40%;
  padding: 0.75rem;
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  position:relative;
  left:30%;
}

@media (max-width: 580px) {
  button, .button{
    right: 0%;
    left: 0%;
    width: 100%;
  }
}
 

.button:hover,button:hover {
    background-color: #ffffff;
    color: rgb(85, 175, 235);
}


#foot{
    color: rgba(109, 111, 117, 0.384);
    align-items: center;
    border-right: 3rem;
    border-style: solid;
    border-color: transparent;
}

footer{
    border-top: 4rem;
    border-style: solid;
    border-color: transparent;
}

div {
    align-items: flex-start;

}

.header{
    width: 100%;
    background-color: rgb(15, 15, 15);
    border-radius: 1rem;
    border-style: solid;
border-color: rgba(109, 111, 117, 0.384);
border-width: 1px;
}

.tweets{
    width: 92%;
    position:relative;
  left:0;
    display: block;
    text-align: left;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    background-color: rgb(15, 15, 15);
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #474649;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 0 16px 16px 16px;
  }
 
#verif {
    height: 1rem;
};

#user{
    background-color: transparent;
    color: #ffffff;
}

#welcome{
    display: block;
    border-width: 1rem;
    border-style: solid;
    border-color: transparent;
    text-align: center;
}

.logo{
    width: 30px;
}

.href{
  float: left;
  text-decoration: none;
  background-color: rgb(85, 175, 235);
  width: 5rem;
  color: #ffffff;
  margin-left: 0.3rem;
  border-radius: 2px;
  border: 0px, 0px, 50px;

}

.href:hover{
    background-color: #ffffff;
    width: 5rem;
    color:  rgb(85, 175, 235);;
    border-radius: 2px;
    border-left: 0em solid;
};