<html>
<head>
<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href='/logout' class='href'> Log out</a> <br>
    <br>
    <br>
    <div class='header'>
    <h2> So... what are you thinking about? <img src='/styles/logo.png' class='logo'></h2>
    <form method='post' action='/home'>
    <input type='text' name='content' placeholder='What is going on?' required/> <br>
    <input type='submit' value='tweet' class='button'/> 
</form> 
</div><br>
    <div>
            <% for (var i= data.length-1; i>0; i--) { %>
                <blockquote class='tweets'>
                    <a> 💙 <%= '@' + data[i].username %></h5></a>
                    <p><%= data[i].content %></p>
                </blockquote> <br>
            <% } %>
    </body>
</div>
</html>