<html>
<head>
<link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1 id='welcome'>What is happening now. <br>
    <img src='/styles/logo.png'> <br>
    Join Twitter today.</h1>
<a href='/register'><button>Sing up</button></a> <br>
 <a href='/login'><button>Log in</button></a>
 </body>
 <footer>
 <a href="https://about.twitter.com/" id='foot'> About </a>
 <a href="https://twitter.com/es/privacy" id='foot'> Privacy </a>
 <a href="https://help.twitter.com/es" id='foot'> Help </a>
<footer>
 </html>