<html>

<head>
  <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <p>
  <a href='/' class='href'>Cancel</a> <br>
  <img src='/styles/logo.png'> <br>
  <h1 id='welcome'> Sign in to Twitter </h1> <br>
  <form method='post' action='/login'>
    <% if(incorrect) { %>
      <p style='color:red'>user or password incorrect</p>
      <% } %>
      <div className="col-sm-30">
        <input type='text' name='username' placeholder='User' required /> 
      </div>
        <div className="col-sm-30">
          <input type='password' name='password' placeholder='Password' required />
        </div>
        <br>
        <div className="col-sm-offset-5 col-sm-30">
          <input type='submit' value='Log in' class='button' />
        </div>
  </form>
  <a href='/register'><button> Sign up on Twitter</button></a>
  </p>
  </home>

</html>